<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Volunteer_Sys_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/randomcode</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BasicAct_show</servlet-name>
    <servlet-class>servlet.BasicAct_show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicAct_show</servlet-name>
    <url-pattern>/servlet/basicAct_show</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Stu_enlist</servlet-name>
    <servlet-class>servlet.Stu_enlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stu_enlist</servlet-name>
    <url-pattern>/servlet/stu_enlist</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Modify_UserPsw</servlet-name>
    <servlet-class>servlet.Modify_UserPsw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify_UserPsw</servlet-name>
    <url-pattern>/servlet/modify_UserPsw</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>User_info</servlet-name>
    <servlet-class>servlet.User_info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_info</servlet-name>
    <url-pattern>/servlet/user_info</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SuperAdmin</servlet-name>
    <servlet-class>servlet.SuperAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperAdmin</servlet-name>
    <url-pattern>/servlet/superAdmin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin_Stus_show</servlet-name>
    <servlet-class>servlet.Admin_Stus_show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Stus_show</servlet-name>
    <url-pattern>/servlet/admin_Stus_show</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin_Stus_update</servlet-name>
    <servlet-class>servlet.Admin_Stus_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Stus_update</servlet-name>
    <url-pattern>/servlet/admin_Stus_update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin_Acts_show</servlet-name>
    <servlet-class>servlet.Admin_Acts_show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Acts_show</servlet-name>
    <url-pattern>/servlet/admin_Acts_show</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Adimn_Acts_update</servlet-name>
    <servlet-class>servlet.Admin_Acts_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adimn_Acts_update</servlet-name>
    <url-pattern>/servlet/admin_Acts_update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin_Stu_Act_delete</servlet-name>
    <servlet-class>servlet.Admin_Stu_Act_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Stu_Act_delete</servlet-name>
    <url-pattern>/servlet/admin_Stu_Act_delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileDelete</servlet-name>
    <servlet-class>servlet.FileDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDelete</servlet-name>
    <url-pattern>/servlet/fileDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FileDeleteTest</servlet-name>
    <servlet-class>servlet.FileDeleteTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDeleteTest</servlet-name>
    <url-pattern>/servlet/fileDeleteTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>IndexInfo</servlet-name>
      <servlet-class>servlet.IndexInfo</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>IndexInfo</servlet-name>
      <url-pattern>/servlet/indexInfo</url-pattern>
  </servlet-mapping>
</web-app>
